<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
</head>
<BODY>
    <H1>States</H1>
    <UL id="state_list">
        {% for state in state_list %}
            <LI>State: {{ state.id }}: <B>{{ state.name }}</B></LI>
            <H3>
                <UL>
                    {% for city in state.cities %}
                        <LI>City: {{ city.id }}: <B>{{ city.name }}</B></LI>
                    {% endfor %}
                </UL>
            </H3>
        {% endfor %}
    </UL>
</html>